  <div class="content">
    <div class="row row-cols-1 row-cols-md-2 align-items-stretch">
        <div class="px-3 my-3" *ngFor="let article of articles | paginate: { itemsPerPage: 10, currentPage: p }">
            <div class="card h-100 rounded-0">
                <img class="card-img-top" [src] ="article.urlToImage" alt="" />
                <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.description }}</p>
                <p class="card-text">{{ article.content }}</p>
                <div class="row">
                    <div class="col-md-4"><blockquote><b><p class="float-start author">{{ article.author }}</p></b></blockquote></div>  
                    <div class="col-md-4"><button class="btn btn-danger" (click)="remove(article)">Remove</button></div>
                    <div class="col-md-4"><p class="float-end">{{ article.publishedAt | date:'short'}}</p></div>  
                </div>
                </div>
            </div>
        </div>
    </div>            
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>